@media (prefers-color-scheme: dark) {
    body {
        color: #cccccc;
        background: #121212;
    }

    p:first-child {
        color: #121212;
    }

    table {
        text-align: center;
    }

    td.oneshot {
        background: #0000ff;
    }

    td.twoshot {
        background: #005aff;
    }
}

@media (prefers-color-scheme: light) {
    td.oneshot {
        background: #ffff00;
    }

    td.twoshot {
        background: #ffa500;
    }
}

body {
    font-family: Helvetica Cyrillic, ER Univers, Lucida Sans Unicode, Bastion;
    font-size: 18px;
    text-align: center;
}

button {
    font-size: 18px;
}

div {
    width: 100%;
    max-width: 600px;
    display: grid;
    margin: 0 auto;
}

div#log {
    min-height: 20px;
}

div.credits {
    font-size: 10px;
}

p {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 16px;
}

p:first-child {
    background: lightgray;
}

table {
    text-align: center;
    font-size: 10px;
}
